* {
    font-family: 'Times New Roman';
    background-color: rgb(247, 250, 240);
}
p#thanks{
    color:rgb(226, 59, 87);
    font-size: 25px; 
}
p#welcome{
    color:black;
    font-size: 30px;
}
table#navigation a{
   color:beige;
   font-size: 27px;
}

body{
    font-size: 25px;
}
